# Pregunta 3

This exercise is based on the paper, Eissa Nada and Jeffrey B. Liebman. 1996. **Labor Supply
Responses to the Earned Income Tax Credit (EITC)**. Quarterly Journal of Economics. 111(2):
605-637. <br>The data “eitc.dta” file contains data for single women 20-54 with less than high school
education, as this group is most likely to be affected by the EITC.

#### Cargar datos

In [1]:
import pandas as pd
import pyreadstat
import statsmodels.formula.api as smf
import seaborn as sns

In [3]:
eitc = pd.read_stata("https://github.com/MendozaC25/09-Econometria_Aplic._Av/raw/refs/heads/main/P.Calificada_1/eitc.dta")
eitc.head()

,state,year,urate,children,nonwhite,finc,earn,age,ed,work,unearn
0,11.0,1991.0,7.6,0,1,18714.394273,18714.394273,26,10,1,0.000000
1,12.0,1991.0,7.2,1,0,4838.568282,471.365639,22,9,1,4.367203
2,13.0,1991.0,6.4,2,0,8178.193833,0.000000,33,11,0,8.178194
3,14.0,1991.0,9.1,0,1,9369.570485,0.000000,43,11,0,9.369570
4,15.0,1991.0,8.6,3,1,14706.607930,14706.607930,23,7,1,0.000000

#### 1. [3 points ] Create a table summarizing all the data provided in the data set.

In [5]:
eitc.describe()

,state,year,urate,children,nonwhite,finc,earn,age,ed,work,unearn
count,13746.00000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000
mean,54.52459,1993.347046,6.761734,1.192638,0.600684,15255.319310,10432.475514,35.209661,8.806053,0.513022,4.822844
std,27.13521,1.709800,1.462461,1.382105,0.489776,19444.249684,18200.758138,10.157128,2.635639,0.499849,7.122624
min,11.00000,1991.000000,2.600000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000
25%,31.00000,1992.000000,5.700000,0.000000,0.000000,5123.417782,0.000000,26.000000,7.000000,0.000000,0.000000
50%,56.00000,1993.000000,6.800000,1.000000,1.000000,9636.664360,3332.179931,34.000000,10.000000,1.000000,2.973197
75%,81.00000,1995.000000,7.700000,2.000000,1.000000,18659.178178,14321.223709,44.000000,11.000000,1.000000,6.863863
max,95.00000,1996.000000,11.400000,9.000000,1.000000,575616.820870,537880.611850,54.000000,11.000000,1.000000,134.057520

#### 2. [5 points ] Calculate the sample means of all variables for <br>(a) single women with no children, <br>(b) single women with 1 child, and <br>(c) single women with 2+ children.

In [7]:
no_children = eitc.loc[eitc['children'] == 0]
one_children = eitc.loc[eitc['children'] == 1]
two_children = eitc.loc[eitc['children'] >= 2]

(a) single women with no children

In [9]:
m_none = no_children.iloc[:,[2,3,5,6,7,8,9,10]].mean()
m_none = m_none.reset_index()
m_none.columns = ['Variable', 'Promedio']
m_none

   Variable      Promedio
0     urate      6.663067
1  children      0.000000
2      finc  18559.863110
3      earn  13760.255844
4       age     38.498228
5        ed      8.548676
6      work      0.574490
7    unearn      4.799607

(b) single women with 1 child

In [11]:
m_one = one_children.iloc[:,[2,3,5,6,7,8,9,10]].mean()
m_one = m_one.reset_index()
m_one.columns = ['Variable', 'Promedio']
m_one

   Variable      Promedio
0     urate      6.802061
1  children      1.000000
2      finc  13941.569547
3      earn   9928.278759
4       age     33.758993
5        ed      8.992479
6      work      0.537606
7    unearn      4.013291

(c) single women with 2+ children

In [13]:
m_two = two_children.iloc[:,[2,3,5,6,7,8,9,10]].mean()
m_two = m_two.reset_index()
m_two.columns = ['Variable', 'Promedio']
m_two

   Variable      Promedio
0     urate      6.858665
1  children      2.801092
2      finc  11985.295298
3      earn   6613.546648
4       age     32.047469
5        ed      9.006721
6      work      0.420710
7    unearn      5.371749

#### 3. [5 points ] Construct a variable for the “treatment” called **anykids** (indicator for 1 or more kids) <br>and a variable for time being after the expansion (called **post93**, should be 1 for 1994 and later).

##### Variable "anykids"

In [15]:
#Se asignará el valor de 1 para indicar que tiene hijos, y 0 en caso no los tenga
def treatment(var):
    if var >= 1:
        return 1
    else:
        return 0

In [17]:
eitc['anykids'] = eitc['children'].apply(treatment)

In [19]:
# Comprobamos que se ha creado correctamente la variable
eitc.iloc[:,[3,11]].head()

   children  anykids
0         0        0
1         1        1
2         2        1
3         0        0
4         3        1

##### Variable "post93"

In [21]:
#Se asignará el valor de 1 para indicar que es posterior a 1993, y 0 en caso no lo sea
def post(var):
    if var > 1993:
        return 1
    else:
        return 0

In [23]:
eitc['post93'] = eitc['year'].apply(post)

In [25]:
# Comprobamos que se ha creado correctamente la variable
eitc.iloc[151:,[1,12]].head()

       year  post93
151  1993.0       0
152  1993.0       0
153  1994.0       1
154  1994.0       1
155  1994.0       1

#### 4. [10 points ] Using the “interaction term” diff-in-diff specification, run a regression to <br>estimate the difference-in-differences estimate of the effect of the EITC program on earnings. <br>Use all women with children as the treatment group.

In [27]:
# Creamos el término de interacción
eitc['int_term'] = eitc['anykids'] * eitc['post93']

In [29]:
# Corremos la regresión Diff in Diff
modelo1 = smf.ols('earn ~ anykids + post93 + int_term', data=eitc).fit()
print(modelo1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   earn   R-squared:                       0.026
Model:                            OLS   Adj. R-squared:                  0.026
Method:                 Least Squares   F-statistic:                     124.3
Date:                Sun, 01 Dec 2024   Prob (F-statistic):           1.96e-79
Time:                        18:57:23   Log-Likelihood:            -1.5416e+05
No. Observations:               13746   AIC:                         3.083e+05
Df Residuals:                   13742   BIC:                         3.084e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    1.38e+04    319.810     43.146      0.000    1.32e+04    1.44e+04
anykids    -6613.5365    422.179    -15.665      0.000   -7441.065   -5786.008
post93       -81.8683    467.557     -0.175      0.861    -998.345     834.608
int_term    1668.6778    620.384      2.690      0.007     452.641    2884.715
==============================================================================
Omnibus:                    17833.782   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9111067.740
Skew:                           6.858   Prob(JB):                         0.00
Kurtosis:                     128.377   Cond. No.                         7.14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### 5. [7 points ] Repeat (iv), but now include ***state*** and **year** fixed effects <br>[Hint: state fixed effects, are included when we include a dummy variable for each state]. <br>Do you get similar estimated treatment effects compared to (iv)?

In [33]:
# Crear variables dummy sin eliminar columnas originales
state_dummies = pd.get_dummies(eitc['state'], prefix='state', drop_first=True)
year_dummies = pd.get_dummies(eitc['year'], prefix='year', drop_first=True)

# Concatenar dummies al DataFrame principal
eitc_fixed = pd.concat([eitc, state_dummies, year_dummies], axis=1)

# Limpiar nombres de columnas para evitar problemas con Patsy
eitc_fixed.columns = eitc_fixed.columns.str.replace(r"[^\w\s]", "_", regex=True)

# Ajustar el modelo con efectos fijos
modelo2 = smf.ols(
    'earn ~ anykids + post93 + int_term + ' + 
    ' + '.join(state_dummies.columns.str.replace(r"[^\w\s]", "_", regex=True)) + 
    ' + ' + ' + '.join(year_dummies.columns.str.replace(r"[^\w\s]", "_", regex=True)),
    data=eitc_fixed
).fit()

# Resumen del modelo
print(modelo2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   earn   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.040
Method:                 Least Squares   F-statistic:                     11.00
Date:                Sun, 01 Dec 2024   Prob (F-statistic):           1.98e-94
Time:                        18:58:30   Log-Likelihood:            -1.5403e+05
No. Observations:               13746   AIC:                         3.082e+05
Df Residuals:                   13688   BIC:                         3.086e+05
Df Model:                          57
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            8576.5919   2077.816      4.128      0.000    4503.786    1.26e+04
state_12_0[T.True]   4924.9389   2955.047      1.667      0.096    -867.358    1.07e+04
state_13_0[T.True]   2982.8003   3210.665      0.929      0.353   -3310.544    9276.145
state_14_0[T.True]   6323.0471   2244.682      2.817      0.005    1923.162    1.07e+04
state_15_0[T.True]   7938.1266   2523.903      3.145      0.002    2990.930    1.29e+04
state_16_0[T.True]   5065.8537   2692.602      1.881      0.060    -212.016    1.03e+04
state_21_0[T.True]   4465.1666   2094.221      2.132      0.033     360.207    8570.126
state_22_0[T.True]   8801.2418   2195.194      4.009      0.000    4498.360    1.31e+04
state_23_0[T.True]   4516.5423   2226.761      2.028      0.043     151.785    8881.300
state_31_0[T.True]   3455.9504   2220.888      1.556      0.120    -897.295    7809.196
state_32_0[T.True]   9060.5252   2610.836      3.470      0.001    3942.928    1.42e+04
state_33_0[T.True]   7591.0780   2172.612      3.494      0.000    3332.461    1.18e+04
state_34_0[T.True]   6775.1020   2207.939      3.069      0.002    2447.239    1.11e+04
state_35_0[T.True]   3932.9809   2582.935      1.523      0.128   -1129.926    8995.888
state_41_0[T.True]   1437.9955   2944.592      0.488      0.625   -4333.810    7209.801
state_42_0[T.True]   6160.7612   2893.973      2.129      0.033     488.176    1.18e+04
state_43_0[T.True]   1814.4415   2555.290      0.710      0.478   -3194.279    6823.162
state_44_0[T.True]   4018.7432   2988.927      1.345      0.179   -1839.963    9877.450
state_45_0[T.True]   3996.9982   2697.231      1.482      0.138   -1289.945    9283.942
state_46_0[T.True]   7537.2383   2885.673      2.612      0.009    1880.922    1.32e+04
state_47_0[T.True]   7562.9404   2816.110      2.686      0.007    2042.978    1.31e+04
state_51_0[T.True]   5467.2436   2720.386      2.010      0.044     134.913    1.08e+04
state_52_0[T.True]   5478.2436   2572.633      2.129      0.033     435.529    1.05e+04
state_53_0[T.True]   6767.2707   2320.674      2.916      0.004    2218.431    1.13e+04
state_54_0[T.True]   7327.9061   2475.159      2.961      0.003    2476.254    1.22e+04
state_55_0[T.True]    461.9093   2480.259      0.186      0.852   -4399.739    5323.558
state_56_0[T.True]   5944.2125   2217.499      2.681      0.007    1597.610    1.03e+04
state_57_0[T.True]   6714.1978   2395.928      2.802      0.005    2017.850    1.14e+04
state_58_0[T.True]   5953.4222   2375.167      2.507      0.012    1297.769    1.06e+04
state_59_0[T.True]   5668.8125   2152.008      2.634      0.008    1450.581    9887.044
state_61_0[T.True]   1394.7690   2475.762      0.563      0.573   -3458.064    6247.602
state_62_0[T.True]   5017.2787   2426.398      2.068      0.039     261.206    9773.351
state_63_0[T.True]   2924.6869   2444.882      1.196      0.232   -1867.618    7716.991
state_64_0[T.True]   3308.0683   2323.604      1.424      0.155   -1246.514    7862.651
state_71_0[T.True]   2687.9896   2590.702      1.038      0.299   -2390.141    7766.120
state_72_0[T.True]   1347.8426   2362.289      0.571      0.568   -3282.568    5978.253
state_73_0[T.True]   1726.2347   2565.067      0.673      0.501   -3301.648    6754.118
state_74_0[T.True]   5232.0732   2130.624      2.456      0.014    1055.758    9408.388
state_81_0[T.True]    824.4367   2933.829      0.281      0.779   -4926.271    6575.144
state_82_0[T.True]   6238.3446   2746.117      2.272      0.023     855.577    1.16e+04
state_83_0[T.True]    386.5133   3229.217      0.120      0.905   -5943.195    6716.221
state_84_0[T.True]   6439.5400   2619.362      2.458      0.014    1305.231    1.16e+04
state_85_0[T.True]   1589.8842   2322.959      0.684      0.494   -2963.433    6143.202
state_86_0[T.True]   5773.5126   2398.893      2.407      0.016    1071.353    1.05e+04
state_87_0[T.True]    1.06e+04   2966.668      3.571      0.000    4779.974    1.64e+04
state_88_0[T.True]   1.096e+04   2523.126      4.342      0.000    6010.509    1.59e+04
state_91_0[T.True]   4029.5530   2800.731      1.439      0.150   -1460.265    9519.371
state_92_0[T.True]   5112.3675   2614.912      1.955      0.051     -13.220    1.02e+04
state_93_0[T.True]   8068.4205   2084.025      3.872      0.000    3983.445    1.22e+04
state_94_0[T.True]   8707.7002   2944.598      2.957      0.003    2935.884    1.45e+04
state_95_0[T.True]   1.726e+04   3000.966      5.751      0.000    1.14e+04    2.31e+04
year_1992_0[T.True]  -610.3586    502.459     -1.215      0.224   -1595.247     374.529
year_1993_0[T.True]  -984.6503    508.960     -1.935      0.053   -1982.282      12.982
year_1994_0[T.True]  -805.6796    338.786     -2.378      0.017   -1469.746    -141.613
year_1995_0[T.True]   246.4150    346.768      0.711      0.477    -433.299     926.129
year_1996_0[T.True]   246.0059    351.925      0.699      0.485    -443.815     935.826
anykids             -6646.0405    420.540    -15.804      0.000   -7470.357   -5821.724
post93               -313.2587    408.808     -0.766      0.444   -1114.578     488.061
int_term             1612.1312    617.393      2.611      0.009     401.956    2822.307
==============================================================================
Omnibus:                    17852.050   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9375447.568
Skew:                           6.861   Prob(JB):                         0.00
Kurtosis:                     130.204   Cond. No.                     1.19e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.88e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

- La magnitud y dirección del efecto del tratamiento (int_term) son consistentes entre los dos modelos. Esto sugiere que la inclusión de efectos fijos no altera significativamente la estimación del efecto del programa EITC en los ingresos. Sin embargo, la mejora en el R-cuadrado indica que el modelo con efectos fijos captura mejor las variaciones explicadas por las variables incluidas.

#### 6. [7 points] Using the specification from (v), re-estimate this model including <br>urate nonwhite age ed unearn, as well as state and year FEs as controls. <br>Do you get similar estimated treatment effects compared to (v)?

In [35]:
# Ajustar el modelo con controles adicionales y efectos fijos
modelo3 = smf.ols(
    'earn ~ anykids + post93 + int_term + urate + nonwhite + age + ed + unearn + ' + 
    ' + '.join(state_dummies.columns.str.replace(r"[^\w\s]", "_", regex=True)) + 
    ' + ' + ' + '.join(year_dummies.columns.str.replace(r"[^\w\s]", "_", regex=True)),
    data=eitc_fixed
).fit()

# Resumen del modelo
print(modelo3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   earn   R-squared:                       0.048
Model:                            OLS   Adj. R-squared:                  0.044
Method:                 Least Squares   F-statistic:                     11.15
Date:                Sun, 01 Dec 2024   Prob (F-statistic):          5.95e-104
Time:                        19:00:01   Log-Likelihood:            -1.5400e+05
No. Observations:               13746   AIC:                         3.081e+05
Df Residuals:                   13683   BIC:                         3.086e+05
Df Model:                          62
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            6843.7899   3017.164      2.268      0.023     929.735    1.28e+04
state_12_0[T.True]   4699.5691   2961.636      1.587      0.113   -1105.645    1.05e+04
state_13_0[T.True]   2763.5053   3226.075      0.857      0.392   -3560.045    9087.056
state_14_0[T.True]   7371.3820   2245.009      3.283      0.001    2970.856    1.18e+04
state_15_0[T.True]   9158.7987   2527.496      3.624      0.000    4204.559    1.41e+04
state_16_0[T.True]   6457.5750   2701.089      2.391      0.017    1163.069    1.18e+04
state_21_0[T.True]   6217.5671   2106.962      2.951      0.003    2087.632    1.03e+04
state_22_0[T.True]   1.048e+04   2204.944      4.752      0.000    6156.428    1.48e+04
state_23_0[T.True]   5335.9001   2229.037      2.394      0.017     966.681    9705.120
state_31_0[T.True]   3978.7907   2235.894      1.780      0.075    -403.869    8361.450
state_32_0[T.True]   9071.6657   2643.026      3.432      0.001    3890.972    1.43e+04
state_33_0[T.True]   9141.6354   2184.904      4.184      0.000    4858.923    1.34e+04
state_34_0[T.True]   7759.1314   2210.610      3.510      0.000    3426.033    1.21e+04
state_35_0[T.True]   4405.0838   2657.973      1.657      0.097    -804.908    9615.076
state_41_0[T.True]   2078.6711   3014.431      0.690      0.490   -3830.027    7987.370
state_42_0[T.True]   6065.0650   2990.126      2.028      0.043     204.007    1.19e+04
state_43_0[T.True]   2254.9468   2578.767      0.874      0.382   -2799.790    7309.683
state_44_0[T.True]   3699.2843   3087.784      1.198      0.231   -2353.196    9751.765
state_45_0[T.True]   3768.9527   2884.855      1.306      0.191   -1885.759    9423.664
state_46_0[T.True]   7987.8902   3070.672      2.601      0.009    1968.951     1.4e+04
state_47_0[T.True]   7685.1772   2887.039      2.662      0.008    2026.184    1.33e+04
state_51_0[T.True]   6226.4633   2757.253      2.258      0.024     821.870    1.16e+04
state_52_0[T.True]   6810.4653   2598.389      2.621      0.009    1717.265    1.19e+04
state_53_0[T.True]   9012.3126   2379.920      3.787      0.000    4347.343    1.37e+04
state_54_0[T.True]   8154.1707   2517.242      3.239      0.001    3220.030    1.31e+04
state_55_0[T.True]    389.9827   2584.996      0.151      0.880   -4676.965    5456.931
state_56_0[T.True]   6686.5116   2281.628      2.931      0.003    2214.208    1.12e+04
state_57_0[T.True]   7986.6556   2408.997      3.315      0.001    3264.690    1.27e+04
state_58_0[T.True]   7242.6011   2415.694      2.998      0.003    2507.510     1.2e+04
state_59_0[T.True]   7172.8652   2161.196      3.319      0.001    2936.623    1.14e+04
state_61_0[T.True]   1444.7777   2478.367      0.583      0.560   -3413.162    6302.717
state_62_0[T.True]   5714.3023   2449.345      2.333      0.020     913.250    1.05e+04
state_63_0[T.True]   4041.3750   2447.309      1.651      0.099    -755.687    8838.437
state_64_0[T.True]   4804.3739   2332.380      2.060      0.039     232.589    9376.159
state_71_0[T.True]   3397.9770   2597.455      1.308      0.191   -1693.391    8489.345
state_72_0[T.True]   2977.3346   2374.366      1.254      0.210   -1676.750    7631.419
state_73_0[T.True]   1787.8321   2589.400      0.690      0.490   -3287.748    6863.412
state_74_0[T.True]   7098.0544   2145.236      3.309      0.001    2893.098    1.13e+04
state_81_0[T.True]    704.6778   2938.107      0.240      0.810   -5054.416    6463.772
state_82_0[T.True]   6605.4860   2756.483      2.396      0.017    1202.401     1.2e+04
state_83_0[T.True]    629.5300   3254.755      0.193      0.847   -5750.237    7009.297
state_84_0[T.True]   7607.4859   2680.663      2.838      0.005    2353.017    1.29e+04
state_85_0[T.True]   3287.1861   2334.571      1.408      0.159   -1288.894    7863.266
state_86_0[T.True]   7096.6289   2412.504      2.942      0.003    2367.790    1.18e+04
state_87_0[T.True]   1.128e+04   3064.404      3.683      0.000    5278.138    1.73e+04
state_88_0[T.True]   1.183e+04   2534.289      4.670      0.000    6866.883    1.68e+04
state_91_0[T.True]   4272.3205   2797.077      1.527      0.127   -1210.334    9754.975
state_92_0[T.True]   5482.3399   2618.128      2.094      0.036     350.449    1.06e+04
state_93_0[T.True]   1.016e+04   2134.559      4.760      0.000    5976.572    1.43e+04
state_94_0[T.True]   8924.0921   2957.485      3.017      0.003    3127.016    1.47e+04
state_95_0[T.True]   1.699e+04   3053.969      5.562      0.000     1.1e+04     2.3e+04
year_1992_0[T.True]  -572.2299    538.954     -1.062      0.288   -1628.654     484.194
year_1993_0[T.True]  -964.5271    509.615     -1.893      0.058   -1963.442      34.388
year_1994_0[T.True]  -805.6674    340.029     -2.369      0.018   -1472.171    -139.163
year_1995_0[T.True]   264.6790    361.466      0.732      0.464    -443.844     973.202
year_1996_0[T.True]   215.6503    382.029      0.564      0.572    -533.178     964.479
anykids             -6224.6707    431.618    -14.422      0.000   -7070.702   -5378.640
post93               -325.3381    462.866     -0.703      0.482   -1232.619     581.943
int_term             1661.8117    616.237      2.697      0.007     453.903    2869.720
urate                 -44.8069    276.405     -0.162      0.871    -586.599     496.985
nonwhite            -2575.0164    361.745     -7.118      0.000   -3284.087   -1865.946
age                    33.5963     15.934      2.108      0.035       2.363      64.830
ed                    119.9487     60.318      1.989      0.047       1.717     238.180
unearn                -42.7092     21.670     -1.971      0.049     -85.186      -0.233
==============================================================================
Omnibus:                    17969.070   Durbin-Watson:                   2.015
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9801150.884
Skew:                           6.936   Prob(JB):                         0.00
Kurtosis:                     133.077   Cond. No.                     2.25e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.02e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

- La estimación del efecto del tratamiento (int_term) es consistente entre los modelos de las preguntas 5 y 6. La inclusión de controles adicionales no altera sustancialmente el coeficiente del tratamiento, lo que sugiere que el modelo de la pregunta 5 ya capturaba bien el efecto del EITC en los ingresos. Sin embargo, los controles adicionales mejoran la especificación del modelo al ajustar por posibles confusores.

#### 7. [7 points ] Estimate a version of your model that allows the treatment effect to vary by those with 1 or 2+ children. <br>Include all other variables as in (vi). <br>Does the intervention seem to be more effective for one of these groups over the other? <br>Why might this be the case in the real world?

In [37]:
# Crear términos de interacción para 1 hijo y 2+ hijos
eitc_fixed['int_1child'] = (eitc_fixed['children'] == 1).astype(int) * eitc_fixed['post93']
eitc_fixed['int_2plus'] = (eitc_fixed['children'] >= 2).astype(int) * eitc_fixed['post93']

# Ajustar el modelo con interacciones por número de hijos
modelo4 = smf.ols(
    'earn ~ anykids + post93 + int_1child + int_2plus + urate + nonwhite + age + ed + unearn + ' +
    ' + '.join(state_dummies.columns.str.replace(r"[^\w\s]", "_", regex=True)) + 
    ' + ' + ' + '.join(year_dummies.columns.str.replace(r"[^\w\s]", "_", regex=True)),
    data=eitc_fixed
).fit()

# Resumen del modelo
print(modelo4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   earn   R-squared:                       0.051
Model:                            OLS   Adj. R-squared:                  0.047
Method:                 Least Squares   F-statistic:                     11.69
Date:                Sun, 01 Dec 2024   Prob (F-statistic):          5.11e-112
Time:                        19:00:21   Log-Likelihood:            -1.5398e+05
No. Observations:               13746   AIC:                         3.081e+05
Df Residuals:                   13682   BIC:                         3.086e+05
Df Model:                          63
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            6996.4537   3012.597      2.322      0.020    1091.349    1.29e+04
state_12_0[T.True]   4741.1979   2957.073      1.603      0.109   -1055.072    1.05e+04
state_13_0[T.True]   3022.5173   3221.338      0.938      0.348   -3291.747    9336.782
state_14_0[T.True]   7494.4668   2241.623      3.343      0.001    3100.578    1.19e+04
state_15_0[T.True]   9185.7024   2523.599      3.640      0.000    4239.101    1.41e+04
state_16_0[T.True]   6660.8106   2697.098      2.470      0.014    1374.128    1.19e+04
state_21_0[T.True]   6359.6344   2103.821      3.023      0.003    2235.855    1.05e+04
state_22_0[T.True]   1.061e+04   2201.634      4.820      0.000    6296.151    1.49e+04
state_23_0[T.True]   5402.6715   2225.621      2.427      0.015    1040.149    9765.194
state_31_0[T.True]   4209.9663   2232.720      1.886      0.059    -166.472    8586.404
state_32_0[T.True]   9124.4515   2638.960      3.458      0.001    3951.728    1.43e+04
state_33_0[T.True]   9253.6758   2181.599      4.242      0.000    4977.441    1.35e+04
state_34_0[T.True]   7983.9508   2207.463      3.617      0.000    3657.020    1.23e+04
state_35_0[T.True]   4563.6027   2653.981      1.720      0.086    -638.564    9765.770
state_41_0[T.True]   2156.7540   3009.803      0.717      0.474   -3742.873    8056.381
state_42_0[T.True]   6255.6460   2985.653      2.095      0.036     403.357    1.21e+04
state_43_0[T.True]   2321.5800   2574.807      0.902      0.367   -2725.396    7368.556
state_44_0[T.True]   3686.9768   3083.020      1.196      0.232   -2356.166    9730.119
state_45_0[T.True]   3844.2872   2880.426      1.335      0.182   -1801.744    9490.318
state_46_0[T.True]   8302.5208   3066.306      2.708      0.007    2292.139    1.43e+04
state_47_0[T.True]   7622.7612   2882.600      2.644      0.008    1972.469    1.33e+04
state_51_0[T.True]   6263.1047   2753.004      2.275      0.023     866.839    1.17e+04
state_52_0[T.True]   6996.2109   2594.533      2.697      0.007    1910.569    1.21e+04
state_53_0[T.True]   9063.2687   2376.260      3.814      0.000    4405.472    1.37e+04
state_54_0[T.True]   8203.1433   2513.369      3.264      0.001    3276.595    1.31e+04
state_55_0[T.True]    533.8731   2581.100      0.207      0.836   -4525.438    5593.184
state_56_0[T.True]   6721.6430   2278.113      2.951      0.003    2256.228    1.12e+04
state_57_0[T.True]   8182.5228   2405.464      3.402      0.001    3467.482    1.29e+04
state_58_0[T.True]   7324.9196   2411.998      3.037      0.002    2597.071    1.21e+04
state_59_0[T.True]   7259.5443   2157.902      3.364      0.001    3029.760    1.15e+04
state_61_0[T.True]   1571.5803   2474.618      0.635      0.525   -3279.010    6422.171
state_62_0[T.True]   5914.8740   2445.755      2.418      0.016    1120.858    1.07e+04
state_63_0[T.True]   4169.9618   2443.611      1.706      0.088    -619.851    8959.775
state_64_0[T.True]   4995.7759   2328.963      2.145      0.032     430.689    9560.862
state_71_0[T.True]   3444.4684   2593.456      1.328      0.184   -1639.062    8527.999
state_72_0[T.True]   3059.2696   2370.735      1.290      0.197   -1587.697    7706.237
state_73_0[T.True]   1711.1934   2585.431      0.662      0.508   -3356.606    6778.993
state_74_0[T.True]   7215.8356   2142.000      3.369      0.001    3017.221    1.14e+04
state_81_0[T.True]    851.5788   2933.658      0.290      0.772   -4898.795    6601.952
state_82_0[T.True]   6752.6634   2752.320      2.453      0.014    1357.738    1.21e+04
state_83_0[T.True]    542.0570   3249.760      0.167      0.868   -5827.919    6912.033
state_84_0[T.True]   7589.4883   2676.528      2.836      0.005    2343.125    1.28e+04
state_85_0[T.True]   3507.2255   2331.208      1.504      0.132   -1062.263    8076.714
state_86_0[T.True]   7245.4053   2408.887      3.008      0.003    2523.655     1.2e+04
state_87_0[T.True]   1.149e+04   3059.840      3.756      0.000    5496.096    1.75e+04
state_88_0[T.True]   1.187e+04   2530.384      4.692      0.000    6911.724    1.68e+04
state_91_0[T.True]   4197.6421   2792.784      1.503      0.133   -1276.598    9671.882
state_92_0[T.True]   5548.5220   2614.108      2.123      0.034     424.512    1.07e+04
state_93_0[T.True]   1.026e+04   2131.317      4.813      0.000    6080.716    1.44e+04
state_94_0[T.True]   8824.2232   2952.960      2.988      0.003    3036.016    1.46e+04
state_95_0[T.True]   1.726e+04   3049.539      5.659      0.000    1.13e+04    2.32e+04
year_1992_0[T.True]  -558.8353    538.126     -1.038      0.299   -1613.637     495.966
year_1993_0[T.True]  -965.1757    508.828     -1.897      0.058   -1962.549      32.198
year_1994_0[T.True]  -788.1014    339.515     -2.321      0.020   -1453.597    -122.605
year_1995_0[T.True]   255.9296    360.911      0.709      0.478    -451.505     963.364
year_1996_0[T.True]   191.8214    381.456      0.503      0.615    -555.885     939.528
anykids             -6271.2477    431.010    -14.550      0.000   -7116.087   -5426.408
post93               -340.3503    462.158     -0.736      0.461   -1246.243     565.542
int_1child           4102.8776    718.411      5.711      0.000    2694.694    5511.061
int_2plus              71.1883    661.040      0.108      0.914   -1224.542    1366.918
urate                 -61.7407    275.991     -0.224      0.823    -602.720     479.239
nonwhite            -2461.3267    361.600     -6.807      0.000   -3170.112   -1752.541
age                    28.0637     15.932      1.761      0.078      -3.165      59.292
ed                    116.9280     60.227      1.941      0.052      -1.124     234.981
unearn                -35.3487     21.666     -1.632      0.103     -77.816       7.119
==============================================================================
Omnibus:                    17952.846   Durbin-Watson:                   2.017
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9794416.337
Skew:                           6.924   Prob(JB):                         0.00
Kurtosis:                     133.034   Cond. No.                     2.25e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.02e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

- Los resultados del análisis muestran que la intervención del Earned Income Tax Credit (EITC) tiene un impacto positivo y significativo en los ingresos de mujeres con 1 hijo, mientras que no se observa un efecto estadísticamente significativo para aquellas con 2 o más hijos. Este hallazgo refleja las diferencias en las barreras económicas y sociales que enfrentan estos dos grupos. <br> En el caso de las madres con 1 hijo, el apoyo financiero proporcionado por el EITC parece ser suficiente para incentivarlas a participar más activamente en el mercado laboral o aumentar sus ingresos. Este grupo puede tener menos restricciones relacionadas con el cuidado infantil, menores responsabilidades familiares y más flexibilidad para aceptar oportunidades de empleo. <br> Por otro lado, las madres con 2 o más hijos enfrentan desafíos adicionales que el EITC podría no compensar adecuadamente. Los mayores costos de cuidado infantil, las limitaciones de tiempo asociadas con el manejo de familias más grandes y la necesidad de trabajos con horarios más flexibles pueden desincentivar su participación laboral, incluso con el incentivo del EITC. Además, este grupo podría depender más de ingresos no laborales, como la asistencia social, que no están directamente impactados por la política. <br> En un contexto más amplio, estos resultados sugieren que, aunque el diseño del EITC es progresivo y ofrece mayores beneficios a las familias con más hijos, su impacto en los ingresos puede no ser uniforme debido a barreras estructurales que afectan más a las familias numerosas. Este hallazgo plantea la necesidad de políticas complementarias, como subsidios al cuidado infantil o trabajos con horarios más flexibles, para garantizar que los beneficios del EITC lleguen de manera más equitativa a todas las familias.

#### 8. [6 points ] Estimate a “placebo” treatment model as follows: Take data from only the prereform <br> period (up to and including 1993). <br>Drop the rest, or restrict your model to run only if **year** <= 1993. <br>Estimate the effect for all affected women together, just as in (vi). <br>Introduce a placebo policy that begins in 1992 (so 1992 and 1993 are both “treated” with this fake policy). <br>What do you find? <br>Are your results “reassuring”?

In [39]:
# Filtrar datos usando la columna original 'year'
eitc_pre93 = eitc_fixed[eitc_fixed['year'] <= 1993].copy()

# Crear variables de placebo
eitc_pre93['placebo'] = (eitc_pre93['year'] >= 1992).astype(int)
eitc_pre93['placebo_int'] = eitc_pre93['anykids'] * eitc_pre93['placebo']

# Ajustar el modelo placebo
modelo_placebo = smf.ols(
    'earn ~ anykids + placebo + placebo_int + urate + nonwhite + age + ed + unearn + ' +
    ' + '.join(state_dummies.columns.str.replace(r"[^\w\s]", "_", regex=True)) + 
    ' + ' + ' + '.join(year_dummies.columns.str.replace(r"[^\w\s]", "_", regex=True)),
    data=eitc_pre93
).fit()

# Resumen del modelo
print(modelo_placebo.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   earn   R-squared:                       0.073
Model:                            OLS   Adj. R-squared:                  0.065
Method:                 Least Squares   F-statistic:                     9.748
Date:                Sun, 01 Dec 2024   Prob (F-statistic):           6.03e-82
Time:                        19:13:16   Log-Likelihood:                -81913.
No. Observations:                7401   AIC:                         1.639e+05
Df Residuals:                    7341   BIC:                         1.644e+05
Df Model:                          59
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            8197.0792   3686.787      2.223      0.026     969.918    1.54e+04
state_12_0[T.True]   4390.8536   3307.463      1.328      0.184   -2092.724    1.09e+04
state_13_0[T.True]   2334.0457   3494.664      0.668      0.504   -4516.500    9184.591
state_14_0[T.True]   4656.2397   2530.651      1.840      0.066    -304.563    9617.043
state_15_0[T.True]   9501.1683   2976.567      3.192      0.001    3666.242    1.53e+04
state_16_0[T.True]   5930.6776   3183.985      1.863      0.063    -310.846    1.22e+04
state_21_0[T.True]   5300.3433   2379.610      2.227      0.026     635.625    9965.061
state_22_0[T.True]   8401.5269   2469.373      3.402      0.001    3560.847    1.32e+04
state_23_0[T.True]   4478.2727   2509.136      1.785      0.074    -440.354    9396.900
state_31_0[T.True]   2672.0572   2529.020      1.057      0.291   -2285.549    7629.663
state_32_0[T.True]   6997.5806   2978.645      2.349      0.019    1158.581    1.28e+04
state_33_0[T.True]   6538.8459   2468.604      2.649      0.008    1699.672    1.14e+04
state_34_0[T.True]   6978.8650   2522.729      2.766      0.006    2033.591    1.19e+04
state_35_0[T.True]   2865.2948   3054.376      0.938      0.348   -3122.160    8852.749
state_41_0[T.True]    999.1704   3484.611      0.287      0.774   -5831.669    7830.009
state_42_0[T.True]   6246.8033   3431.069      1.821      0.069    -479.077     1.3e+04
state_43_0[T.True]   -966.5636   2924.478     -0.331      0.741   -6699.379    4766.252
state_44_0[T.True]   1997.2331   3495.898      0.571      0.568   -4855.732    8850.198
state_45_0[T.True]   1437.6974   3359.565      0.428      0.669   -5148.015    8023.410
state_46_0[T.True]   3376.3556   4158.305      0.812      0.417   -4775.116    1.15e+04
state_47_0[T.True]   6434.8572   3347.811      1.922      0.055    -127.814     1.3e+04
state_51_0[T.True]   6342.9109   3185.237      1.991      0.046      98.932    1.26e+04
state_52_0[T.True]   5335.8269   3140.297      1.699      0.089    -820.057    1.15e+04
state_53_0[T.True]   6826.4170   2711.981      2.517      0.012    1510.156    1.21e+04
state_54_0[T.True]   4404.1586   2940.972      1.498      0.134   -1360.991    1.02e+04
state_55_0[T.True]   -896.3401   3096.499     -0.289      0.772   -6966.368    5173.687
state_56_0[T.True]   4696.3068   2594.337      1.810      0.070    -389.338    9781.952
state_57_0[T.True]   5911.6005   2720.022      2.173      0.030     579.576    1.12e+04
state_58_0[T.True]   3959.6940   2875.881      1.377      0.169   -1677.858    9597.246
state_59_0[T.True]   6364.1546   2449.304      2.598      0.009    1562.816    1.12e+04
state_61_0[T.True]  -1072.2668   2821.932     -0.380      0.704   -6604.063    4459.530
state_62_0[T.True]    954.0342   2787.255      0.342      0.732   -4509.787    6417.855
state_63_0[T.True]   5079.9620   2931.012      1.733      0.083    -665.663    1.08e+04
state_64_0[T.True]   2621.5672   2682.539      0.977      0.328   -2636.979    7880.114
state_71_0[T.True]    158.9018   2984.522      0.053      0.958   -5691.619    6009.422
state_72_0[T.True]   2205.4044   2747.467      0.803      0.422   -3180.419    7591.228
state_73_0[T.True]    527.0909   3009.492      0.175      0.861   -5372.377    6426.559
state_74_0[T.True]   5003.7768   2430.096      2.059      0.040     240.090    9767.464
state_81_0[T.True]   -508.6809   3339.130     -0.152      0.879   -7054.335    6036.973
state_82_0[T.True]   6479.2386   3248.888      1.994      0.046     110.486    1.28e+04
state_83_0[T.True]  -1703.5607   3997.224     -0.426      0.670   -9539.268    6132.147
state_84_0[T.True]   7030.8555   3153.310      2.230      0.026     849.463    1.32e+04
state_85_0[T.True]   2085.5701   2799.260      0.745      0.456   -3401.784    7572.924
state_86_0[T.True]   5896.1410   2905.044      2.030      0.042     201.421    1.16e+04
state_87_0[T.True]   5087.7694   3540.404      1.437      0.151   -1852.439     1.2e+04
state_88_0[T.True]   1.166e+04   2920.968      3.992      0.000    5933.354    1.74e+04
state_91_0[T.True]   4890.9440   3218.326      1.520      0.129   -1417.899    1.12e+04
state_92_0[T.True]   2115.3028   2992.659      0.707      0.480   -3751.169    7981.775
state_93_0[T.True]   9087.4310   2406.130      3.777      0.000    4370.725    1.38e+04
state_94_0[T.True]   8470.5730   3272.505      2.588      0.010    2055.524    1.49e+04
state_95_0[T.True]   1.216e+04   3673.169      3.310      0.001    4957.233    1.94e+04
year_1992_0[T.True]  -230.4490    334.225     -0.690      0.491    -885.626     424.728
year_1993_0[T.True]  -615.9302    304.128     -2.025      0.043   -1212.109     -19.752
year_1994_0[T.True] -2.632e-14   3.98e-13     -0.066      0.947   -8.06e-13    7.53e-13
year_1995_0[T.True]  8.913e-14   3.33e-13      0.268      0.789   -5.64e-13    7.42e-13
year_1996_0[T.True] -5.775e-13   3.67e-13     -1.573      0.116    -1.3e-12    1.42e-13
anykids             -6645.5991    631.435    -10.525      0.000   -7883.393   -5407.805
placebo              -846.3792    401.435     -2.108      0.035   -1633.308     -59.451
placebo_int           942.4213    769.433      1.225      0.221    -565.888    2450.730
urate                -125.7950    363.020     -0.347      0.729    -837.419     585.829
nonwhite            -2679.5388    431.303     -6.213      0.000   -3525.017   -1834.061
age                    71.7036     19.100      3.754      0.000      34.262     109.145
ed                    118.1306     71.173      1.660      0.097     -21.389     257.650
unearn                -95.5071     26.318     -3.629      0.000    -147.098     -43.916
==============================================================================
Omnibus:                     4951.210   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            81386.876
Skew:                           3.006   Prob(JB):                         0.00
Kurtosis:                      18.093   Cond. No.                     1.03e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.02e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

- La falta de significancia del coeficiente de placebo_int indica que el modelo no detecta efectos ficticios del tratamiento placebo. Esto valida la metodología y sugiere que el modelo principal es robusto.

- Aunque el coeficiente de placebo es significativo, su magnitud es pequeña y no indica un impacto relevante. Esto podría deberse a variaciones contextuales entre 1992 y 1993, pero no invalida los resultados principales.

- La insignificancia de placebo_int sugiere que los efectos detectados en los modelos anteriores no se deben a ruido estadístico ni a problemas de identificación, sino que son genuinos.